<button
  (click)="isShown = !isShown">Toggle Element</button>
<p
  @showState
  *ngIf="isShown">Is Shown</p>

<button
  (click)="width = width - 50">Shrink</button>
<button
  (click)="animate = true">Animate</button>
<p
  [@animateState]="animate ? 'animated' : 'noAnimation'"
  [ngStyle]="{'width.px': width}">Shrink Me</p>
<hr>
<button
  (click)="onAddElement()">Add Element</button>
<div
  *ngFor="let testResult of testResults"
  @listState
  (@listState.start)="onAnimationStart($event)"
  (@listState.done)="onAnimationEnd($event)"
  class="test-result">{{ testResult }}</div>